@model IEnumerable<ToysStore.Web.Models.DomainModel.ToyCategory>

@{
    ViewBag.Title = "Index";
}

<h2>Список категорій</h2>

<p>
    @Html.ActionLink("Створити нову", "Create", null, new { @class = "btn btn-warning"})
</p>
<table class="table table-striped table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categories)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categories)
        </td>
        <td align="right">
            @Html.ActionLink("Редагувати", "Edit", new { id=item.Id }, new { @class = "btn btn-warning"})
            @Html.ActionLink("Видалити", "Delete", new { id=item.Id }, new { @class = "btn btn-danger"})
        </td>
    </tr>
}

</table>
