<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>

    <div id="wrapper-container">
        <div class="container-xl">
            <div id="wrapper-row" class="row align-items-center">
                <div class="col-sm">
                    <img id="logo" src="~/Content/img/logo.png" href="@Url.Action("Index","Main")" />
                </div>
                <div class="col-sm">
                    <div class="row gx-0">
                        <div class="col-lg">
                            @using (Ajax.BeginForm("Search", "Catalog", null, new AjaxOptions { UpdateTargetId = "contentlist", LoadingElementId = "loadingspinner" }))
                            {
                                <div class="row gx-0 justify-content-center">
                                    <div class=" col-lg-8 col-10">
                                        <input name="s" id="section-search" class="form-control" type="search" placeholder="Пошук..." aria-label="Search" required />
                                    </div>
                                    <div class="col-lg-2 col-2">
                                        <button id="section-search-btn" class="btn btn-light" type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="top" class="container-lg">
        <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-default sticky-top shadow">
            <div class="container-lg">
                @Html.Action("AddToCart", "Cart")
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsecontent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="collapsecontent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Main")" class="nav-link d-flex">
                                <i class="fa fa-circle fa-2x"></i>
                                <div class="navbar-text ml-2">
                                    Головна
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("GetCatalog", "Catalog")" class="nav-link d-flex">
                                <i class="fa fa-cubes fa-2x"></i>
                                <div class="navbar-text ml-2">
                                    Каталог
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Delivery")" class="nav-link d-flex">
                                <i class="fa fa-cube fa-2x"></i>
                                <div class="navbar-text ml-2">
                                    Доставка
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Contacts")" class="nav-link d-flex">
                                <i class="fa fa-at fa-2x"></i>
                                <div class=" navbar-text ml-2">
                                    Контакти
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "CatalogEditor")" class="nav-link d-flex">
                                <i class="fa fa-pencil fa-2x"></i>
                                <div class=" navbar-text ml-2">
                                    Редактор
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


    <div id="contentlist" class="container-lg">
        @RenderBody()
    </div>

    @Scripts.Render("~/Scripts/js")
    @Scripts.Render("~/Scripts/unAjax")
</body>
</html>
